*{
  margin: 0;
}
.body {
  background-color: rgb(232, 232, 232);
  
}
.app__headerImg{
  height: 25px;
}
.app__header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 13px 0 0 12px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.app__headerRightDiv{
  margin-left: auto; 
margin-right: 0;
}

.app_credPopup {
  display: flex;
  flex-direction: column;
}

.app__formImg {
  height: 40px;
  width: 100px;
  align-self: center;
  padding: 10px;
}
.app__posts {
  padding: 20px;
  
}
*{
  color: rgba(63, 34, 34, 0.815)
}